
h1,
h2,
h3,
p {
    font-family: 'Fondamento', cursive;
}

body {
    background: url("../images/arena.jpg");
    background-size: 100% 100vh;
    background-attachment: fixed;
}

h1 {
    width: 100%;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: red;
    text-shadow: 2px 3px black;
}

h2 {
    width: 400px;
    line-height: 40px;
    font-weight: bolder;
    font-size: 30px;
    color: black;
    background-color: rgba(255, 255, 255, 0.851);
    clear: both;
}

#choose-text, #fight-text {
    margin-left: 10px;
}

h3 {
    color: white;
    font-size: 20px;
}

button {
    background-color: rgb(126, 0, 0);
    margin: 10px;
}

#hero-div, #defend-div, #enemy-div, #dead-div {
    margin-bottom: 193px;
}

.card {
    position: relative;
    float: left;
    margin: 20px;
}

.cardSection {
    margin-left: 10px;
}

.card img {
    height: 100px;
    border: 25px solid white;
    border-left-width: 15px;
    border-right-width: 15px;
}

.name {
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
}

.health {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.fixed {
    position: fixed;
    bottom: 100px;
    left: 60%;
}

#status-text {
    font-size: 18px;
    font-weight: bold;
}